.call-to-action {
    .call-to-action__title {
        margin: 0;
        text-align: right;

        @include bp(small) {
            margin-bottom: 1ex;
            text-align: center;
        }
    }

    .call-to-action__button {

        @include bp(small) {
            text-align: center;
        }
    }
}