.carousel-single {
    .carousel-item {
        margin-bottom: 2ex;
    }

    .carousel-item img {
        width: 100%;
    }
}

.explore-carousel {
    margin-top: $headerOffset;
}

.explore-carousel-title {
    margin-bottom: 2ex;
}