.event-container {
    float: left;
    position: relative;
    margin: 2ex 0 4ex 0;

    &:before,
    &:after {
        position: absolute;
        content: '';
        top: 3ex;
        bottom: 1.5ex;
        border-left: 1px solid #848484;
    }

    &:before {
        left: 35%;
    }

    &:after {
        left: 64.5%;
    }
}

@media (max-width: $screen-md-min) {
    .event-container {
        &:before,
        &:after {
            display: none;
        }
    }
}
