$gallery-gutter: 4ex;

.featured-gallery {
    margin: $headerOffset 0 $gallery-gutter;

    .gallery-item {
        margin-bottom: $gallery-gutter;

        .gallery-link {
            display: block;
        }

        .gallery-image {
            width: 100%;
        }
    }
    
    .gallery-item--live {
        .gallery-link {
            border: 1px solid #cb4040;
        }
    }
}

