.messages {
    margin: 0;
    padding: 0;
    overflow: hidden;

    .message {
        overflow: hidden;
        list-style: none;
        clear: both;
        margin-bottom: 3ex;
    }
}

.message__avatar {
    float: left;
    margin-right: 2em;

    @include bp(large) {
        width: 20%;

        img {
            width: 100%;
        }
    }

    @include bp(medium) {
        width: 10%;

        img {
            width: 100%;
        }
    }

    @include bp(tiny) {
        width: 15%;

        img {
            width: 100%;
        }
    }
}

.message__content {
    overflow: hidden;

    .title {
        font-weight: 700;
    }

    a {
        color: $text-muted;
    }

    p {
        margin: 0;
    }
}

.message--live-chat {
    background: $brand-success;
    border-radius: $border-radius-base;
    margin-right: .5em;

    .message-live-content {
        padding: 2ex 2ex;

        p {
            margin:0;
        }
    }

    .message-live-icon {
        text-align: right;
        font-size: 2.5em;
        padding-right: .5em;

        @include bp(tiny) {
            font-size: 2em;
            line-height: 1.5;
            vertical-align: middle;
        }
    }
}
