.promo-section {
    background: #343434;

    .promo-section__bounds {
        padding: 5.8ex 0;
        text-align: center;

        @include bp(tiny) {
            padding: 2.5ex 0 3ex;
        }
    }

    .promo-section-heading {
        font-size: 1.625em;
        margin: 0;

        @include bp(medium) {
            font-size: 1.4em;
        }
    }
    
    .promo-section-title {
        display: inline-block;
        margin-right: 2em;
        margin-bottom: 1ex;

        @include bp(tiny) {
            display: block;
            margin: 0 0 1em;
            padding: 0 1em;

            line-height: 1.4;
            text-align: center;
        }
    }
}