.the-intro {
    position: relative;
    font-size: 24px;

    @include bp(large) {
        font-size: 20px;
    }

    @include bp(medium) {
        font-size: 18px;
    }

    @include bp(small) {
        font-size: 15px;
    }

    @include bp(tiny) {
        font-size: 10px;
    }
}

.the-intro__background {
    padding-top: 12em;
    min-height: 850px;
    background-position: center bottom;
    background-size: cover;

    @include bp(large) {
        min-height: 700px;
    }

    @include bp(medium) {
        min-height: 600px;
    }

    @include bp(small) {
        min-height: 430px;
        padding-top: 11em;
    }

    @include bp(tiny) {
        min-height: 310px;
        padding-top: 12em;
    }

}

.the-intro__content-wrapper {
    position: relative;
    z-index: 5;
}

.the-intro__content {
    text-align: center;
    float: none;
    margin: 0 auto;

    @include bp(small) {
        float: none;
        margin: 0 auto;
    }

    @include bp(tiny) {
    }
}

.the-intro__tagline {
    .tagline {
        font-size: 2.75em;
        margin: 0 0 1ex;
        
        @include bp(small) {
            font-size: 2.2em;
        }

        @include bp(tiny) {
            font-size: 2.4em;
        }

    }
}
/* additional description (em'ed) */
.the-intro__description-intro {
    .description {
        font-size: 1em;
        margin: 0 0 2ex;

        @include bp(small) {
            font-size: 1.5em;
        }
    }
}

.the-intro__description {
    .description {
        font-size: 1em;
        margin: 0 0 3ex;

        @include bp(small) {
            font-size: 1.4em;
            margin: 0 0 4ex;
        }
    }
    
}

/* INTRO – event page */
.the-intro--event {
    .the-intro__background {
        padding-top: 10em;

        @include bp(large) {
            padding-top: 13em;
        }

        @include bp(medium) {
            padding-top: 12em;
        }

        @include bp(small) {
            padding-top: 11em;
        }

    }

    .the-intro__content {
        text-align: left;
    }

    .event-announce {
        display: inline-block;
        margin: 0;
        padding: .2ex .5ex;
        border: 3pt solid #fff;
        font-weight: bold;
        text-transform: uppercase;
    }

    .event-announce,
    .event-datetime {
        font-size: 1.5em;
    }
    
    .event-title {
        margin: .1em 0 0;
        padding: 0;
        text-transform: uppercase;
        line-height: 1.2;
        font-size: 3.8em;
        text-indent: .35em;
    }
}
