<section class="the-intro">
    <div class="the-intro__background" style="background-image: url(assets/img/bg-intro-1.jpg)">

        <div class="the-intro__content-wrapper">
            <div class="container">
                <div class="the-intro__content
                    col-xs-24
                    col-sm-20 col-sm-offset-2
                    col-md-16 col-md-offset-4
                    col-lg-14 col-lg-offset-5
                    ">
                    <div class="the-intro__tagline">
                        <h1 class="tagline">This is our Tagline</h1>
                    </div>

                    <div class="the-intro__description">
                        <p class="description">This is a short and sweet description that should make people want to download and use NineSpot.</p>
                    </div>

                    <div class="the-intro__action">
                        <button class="btn btn-success g-uppercase">download ninespot</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>