<section class="the-intro-low">
    <div class="the-intro-low__background">

        <div class="the-intro-low__content-wrapper clearfix h-the-header__offset">
            <div class="the-intro-low__content
                col-xs-20 col-xs-offset-2
                col-md-14 col-md-offset-5
                col-lg-12 col-lg-offset-6
                ">
                <div class="the-intro-low__tagline the-intro-low__tagline--low">
                    <h1 class="tagline">Featured</h1>
                </div>

            </div>
        </div>

    </div>
</section>

<section class="featured-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12 gallery-item">
                <a class="gallery-link" href="channel.html"><img class="gallery-image" src="assets/images/img-featured-1@2x.jpg" alt=""/></a>
            </div>
            <div class="col-md-12 gallery-item">
                <a class="gallery-link" href="channel.html"><img class="gallery-image" src="assets/images/img-featured-1@2x.jpg" alt=""/></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 gallery-item">
                <a class="gallery-link" href="channel.html"><img class="gallery-image" src="assets/images/img-featured-1@2x.jpg" alt=""/></a>
            </div>
            <div class="col-md-12 gallery-item gallery-item--live">
                <a class="gallery-link" href="live.html"><img class="gallery-image" src="assets/images/img-featured-2@2x.jpg" alt=""/></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 gallery-item">
                <a class="gallery-link" href="channel.html"><img class="gallery-image" src="assets/images/img-featured-1@2x.jpg" alt=""/></a>
            </div>
            <div class="col-md-12 gallery-item gallery-item--live">
                <a class="gallery-link" href="live.html"><img class="gallery-image" src="assets/images/img-featured-2@2x.jpg" alt=""/></a>
            </div>
        </div>
    </div>
</section>
