$headerHeight: 80px;
$headerOffset: 5ex;

@mixin bp($point) {

  @if $point == large {
    @media (max-width: $screen-lg-min) { @content; }
  }

  @else if $point == medium {
    @media (max-width: $screen-md-min) { @content; }
  }

  @else if $point == small {
    @media (max-width: $screen-sm-min)  { @content; }
    @media (device-width: $screen-sm-min) {
      @content;
    }
  }

  @else if $point == tiny {
    @media (max-width: $screen-xs-min)  { @content; }
    @media (device-width: $screen-xs-min) {
      @content;
    }
  }
}
