.g-uppercase {
    text-transform: uppercase;
}

.h-the-header__offset {
    padding-top: $headerHeight;
}

.g-mb-xs {
    margin-bottom: 1ex;
}

.g-mb-sm {
    margin-bottom: 3ex;
}

.g-mb-md {
    margin-bottom: 5ex;
}

.g-mb-lg {
    margin-bottom: 7ex;
}

.g-no-margins {
    margin: 0;
}

/*
    IMAGES and overlays
*/

.g-image {
    position: relative;
    z-index: 300;
}

.g-image-overlay {
    position: absolute;
    top: 2ex;
    bottom: 1.5ex;
    left: 2ex;
    right: 2ex;
    pointer-events: none;
    z-index: 1000;
}

.overlay-title {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2em;
    line-height: 1;
}

.overlay-views {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1em;
    line-height: 1;
    text-transform: uppercase;
}

img.g-image--response,
.g-image--response {
    img {
        width: 100%;
    }
}

/* LIVE LABEL */

.g-live {
    position: relative;
    & > img {
        border: 2px solid #c60707;
    }
}

.g-live--white,
.g-live--red {
    .overlay-live {
        display: inline-block;
        padding: 0 .3em;
        border-radius: $border-radius-large;
        text-transform: uppercase;
        font-size: 1.2em;

        &:after {
            content: 'LIVE';
        }
    }
}

.g-live--white {
    .overlay-live {
        background: #fff;
        color: #c2191f;
    }
}

.g-live--red {
    .overlay-live {
        background: red;
        color: #fff;
    }
}

.g-live--video {
    .overlay-live {
        position: absolute;
        top: 5%;
        left: 5%;
    }
}