/* default styles here for older browsers.
    I tend to go for a 600px - 960px width max but using percentages
 */

$fz-xs: 10px;
$fz-sm: 12px;
$fz-md: 14px;
$fz-lg: 16px;

body {
    min-width: 320px;
    font-size: $fz-xs;
}

p {
    font-size: 1.4em;
}



@media only screen and (device-width: $screen-xs-min) {
    body {
        font-size: $fz-xs;
    }
}

@media only screen and (device-width: $screen-sm-min) {
    body {
        font-size: $fz-sm;
    }
}

@media only screen and (min-width: $screen-xs-min) {
    body {
        font-size: $fz-xs;
    }
}

@media only screen and (min-width: $screen-sm-min) {
    body {
        font-size: $fz-sm;
    }
}

@media only screen and (min-width: $screen-md-min) {
    body {
        font-size: $fz-md;
    }
}

@media only screen and (min-width: $screen-lg-min) {
    body {
        font-size: $fz-lg;
    }
}

/* default iPad screens */
@media only screen and (device-width: $screen-sm-min) {

}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* For landscape layouts only */
}

h2, .h2 {
    @include bp(tiny) {
        font-size: 2em;
    }
}