// Left/right controls for nav
// ---------------------------

.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $carousel-control-width;
    @include opacity($carousel-control-opacity);
    font-size: $carousel-control-font-size;
    color: $carousel-control-color;
    text-align: center;
    text-shadow: $carousel-text-shadow;
    // We can't have this transition here because WebKit cancels the carousel
    // animation if you trip this while in the middle of another animation.

    // Set gradients for backgrounds
    &.left {
        background: none;
    }
    &.right {
        left: auto;
        right: 0;
        background: none;
    }

    // Toggles
    .icon-prev,
    .icon-next,
    .glyphicon-circle-arrow-left,
    .glyphicon-circle-arrow-right,
    .glyphicon-chevron-left,
    .glyphicon-chevron-right {
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
    }
    .icon-prev,
    .glyphicon-circle-arrow-left,
    .glyphicon-chevron-left {
        left: 50%;
        margin-left: -10px;
    }
    .icon-next,
    .glyphicon-circle-arrow-right,
    .glyphicon-chevron-right {
        right: 50%;
        margin-right: -10px;
    }
}
