//
// Dropdown menus
// --------------------------------------------------

// The dropdown menu (ul)
.dropdown-menu {
  min-width: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: $font-size-base;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: $dropdown-bg;
  border: 0;
  border-radius: 0;

  // Links within the dropdown menu
  > li > a {
    padding: 7px 20px;
  }
}

