<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <base href="/"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script>
        var debugAppStartTime = +new Date;
        var DEBUG = <!-- @echo debug -->;
    </script>

    <link rel="stylesheet" href="assets/css/index.css"/>
    <script src="assets/js/modernizr.js"></script>
</head>
<body>
    <!-- Header -->
    <header class="header" ui-view="header"></header>

    <!-- Main -->
    <div  ui-view></div>

    <!-- Header navigation -->

    <!-- @if !isCompressed -->
    <!-- Development -->
    <script data-main="scripts/config.js" src="bower_components/requirejs/require.js"></script>
    <!-- @endif -->

    <!-- @if isCompressed -->
    <!-- Production -->
    <script src="assets/js/index.min.js"></script>
    <!-- @endif -->

    <!--<script src="js/jquery.js"></script>-->
    <!--<script src="js/bootstrap.js"></script>-->
    <!-- custom scripts -->
    <!--<script src="js/module.liveAside.js"></script>-->
</body>
</html>